@font-face {
    font-family: gameFont;
    src: url(gameFont.TTF);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: gameFont;
    margin: 0;
    padding: 0;
    min-height: 560px;
    gap: 50px;
}

.mainbody {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    flex: 1;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

button {
    padding: 10px;
    font-size: 30px;
}

.bigcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 560px;
    width: 560px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: white;
    height: 20px;
    background-color: black;
    width: 1440px;    /*only to fit 1920 screens. might have problems on other screens*/
 
}
